body{
  background: linear-gradient(110.42deg, #00C1FE 18.27%, #FAFFC1 91.84%) !important;

}
.form-container{
  padding:30px;
  border-radius: 30px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);

}
.password{
  padding-top:20px;
  padding-bottom:20px;
  text-align: center;

}
.form{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:600px !important;
  height:570px !important;
}
.signin{
  text-align: center;
  padding: 20px 0;
}
.signin p{
  color:gray;
}
